body {
  margin: 0px;
  color: #333138;
}

.wrapper {
  width: 100%;
  height: 100vh;
  background-color: black;
}

.header {
  width: 100%;
  height: 13vh;
  background-color: #ee964b;
  display: flex;
}

.footer {
  width: 100%;
  height: 7vh;
  background-color: #ee964b;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  width: 20%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navigation {
  width: 65%;
  height: 100%;
  display: flex;
  align-items: center;
}

.logoImage {
  height: 75%;
  margin: 0px 15px;
  aspect-ratio: 1/1;
}

.footerContent {
  display: flex;
  width: fit-content;
  height: 100%;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: #333138;
}

.navigation ul {
  list-style: none;
  display: flex;
  width: 100%;
}

.navigation a {
  text-decoration: none;
  color: #333138;
  margin: 0px 35px;
  font-weight: bold;
  font-size: 20px;
}

.search {
  width: 15%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.search-field {
  width: 80%;
  padding: 10px 35px 10px 15px;
  border: none;
  border-radius: 100px;
  outline: none;
}

.search-button {
  background: transparent;
  border: none;
  outline: none;
  margin-left: -33px;
  cursor: pointer;
}

.search-button img {
  width: 20px;
  height: 20px;
  object-fit: cover;
}

.body {
  width: 100%;
  min-height: 80vh;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.userInfo {
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: center;
  margin: 25px 0px 10px 0px;
}

.pfp {
  width: 12%;
  height: 0%;
  margin-top: 10px;
  margin-left: -5%;
}

.pfp img {
  width: 100%;
  height: 100%;
}

.username {
  font-size: 40px;
  margin: 25px 5px 11px 20px;
  color: #ee964b;
  text-shadow: -1px 0 #333138, 0 1px #333138, 1px 0 #333138, 0 -1px #333138;
}

.name, .country {
  font-size: 18px;
  margin: 5px;
  font-style: italic;
}

.underUsername {
    display: flex;
    align-items: center;
    margin-left: 19px;
}

.flag {
    height: 18px;
    aspect-ratio: 1.75/1;
    margin: 0px;
}

.bio {
    margin: 30px 23px;
}

.myGames {
  width: 75%;
  aspect-ratio: 10/3;
  background-color: #333138;
  display: flex;
  flex-direction: column;
  margin: 15px auto;
  border-radius: 15px;
  padding: 10px;
}

.myGamesTitle {
  color: white;
  height: 10%;
  font-size: 25px;
  margin: 15px 0px 5px 15px;
}

.games {
  width: 100%;
  height: 90%;
  display: flex;
  overflow-x: auto;
}

.gameItem {
  width: calc(100% / 3);
  aspect-ratio: 4/2.7;
  margin: 15px;
}

.friend {
  width: calc(100% / 3);
  aspect-ratio: 1/1;
  margin: 15px;
}

.gameImg {
  width: 100%;
  height: 90%;
  border-radius: 15px;
}

.hoursPlayed {
  color: white;
  margin: 5px 15px;
  font-weight: bold;
  font-style: italic;
}

.friendNick {
  font-size: 25px;
  color: white;
  margin: 5px 15px;
  font-weight: bold;
  font-style: italic;
}

.myGames ::-webkit-scrollbar {
  width: 20px;
}

.myGames ::-webkit-scrollbar-track {
  background-color: transparent;
}

.myGames ::-webkit-scrollbar-thumb {
  background-color: #ee964b;
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}

.commentsBox {
  overflow-y: auto;
  overflow-x: hidden;
  border-radius: 15px;
  width: 95%;
  height: 75%;
  margin: 0px auto;
}

.comment {
  width: 100%;
  height: calc(100% / 3);
  max-height: 95px;
  background-color: #ee964b;
  margin: 5px 0px;
  border-radius: 15px;
}

.commentUser {
  display: flex;
  font-weight: bold;
}

.author {
  font-size: 25px;
  margin: 8px 15px;
}

.time {
  margin: 14px 0px;
}

.commentText {
  margin: 5px 15px;
}